@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Nunito', sans-serif;
}

.carousel .carousel-status {
    display: none !important;
}

.carousel .thumbs {
    display: none !important;
}

.carousel.carousel-slider .control-arrow {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}